asgiref
certifi
crispy-bootstrap5
distlib
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
environ
filelock
Markdown
pillow
pipenv
platformdirs
setuptools
sqlparse
tzdata
virtualenv
